CONFIG_IDF_TARGET="esp32s3"
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_ESP_TLS_USING_MBEDTLS=y
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE=y
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE_DEFAULT_FULL=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_ESP_MAIN_TASK_STACK_SIZE=16384
CONFIG_LWIP_DNS_SUPPORT_MDNS_QUERIES=y
CONFIG_SURVAIV_HAS_DISPLAY=y
CONFIG_SURVAIV_DISPLAY_GC9107_ATOMS3=y
CONFIG_SURVAIV_SCREEN_TIMEOUT_SEC=30
CONFIG_SURVAIV_MARKET_LIMIT=12
CONFIG_LWIP_MAX_SOCKETS=16
