CONFIG_IDF_TARGET="esp32s3"
CONFIG_ESP_TLS_USING_MBEDTLS=y
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE=y
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE_DEFAULT_FULL=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESP_MAIN_TASK_STACK_SIZE=16384
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_QUAD=y
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_SPIRAM_BOOT_INIT=y
CONFIG_SPIRAM_USE_MALLOC=y
CONFIG_SPIRAM_MALLOC_ALWAYSINTERNAL=16384
CONFIG_SPIRAM_MALLOC_RESERVE_INTERNAL=32768
CONFIG_LWIP_DNS_SUPPORT_MDNS_QUERIES=y
CONFIG_SURVAIV_HAS_DISPLAY=y
CONFIG_SURVAIV_DISPLAY_GC9107_TQT=y
CONFIG_SURVAIV_SCREEN_TIMEOUT_SEC=30
CONFIG_SURVAIV_MARKET_LIMIT=12
CONFIG_LWIP_MAX_SOCKETS=16
